# Angular
/dist
/tmp
/out-tsc
/bazel-out
/node_modules
/.angular/cache

# Logs
npm-debug.log
yarn-error.log
*.log

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Visual Studio
.vs/
**/.vs/
**/bin/
**/obj/
*.user

# IDEs
.idea/
.project
.classpath
.settings/

# Misc
.sass-cache/
coverage/
typings/
__screenshots__/

# System
.DS_Store
Thumbs.db