USE [WorkTrackPro]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 26-05-2026 17:24:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 26-05-2026 17:24:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Password] [nvarchar](100) NULL,
	[Role] [nvarchar](50) NULL,
	[Status] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Username] [nvarchar](max) NULL,
	[JoinDate] [datetime] NULL,
	[Otp] [nvarchar](max) NULL,
	[OtpExpiry] [datetime] NULL,
	[ProfileImage] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tasks]    Script Date: 26-05-2026 17:24:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tasks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NULL,
	[Description] [nvarchar](100) NULL,
	[AssignedTo] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[Date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[employees] ON 

INSERT [dbo].[employees] ([Id], [Name], [Email], [Password], [Role], [Status], [Phone], [Username], [JoinDate], [Otp], [OtpExpiry], [ProfileImage]) VALUES (1, N'Monika Pandey', N'monika45pandey@gmail.com', N'123456', N'Admin', N'Active', N'9876543210', N'monika671996', CAST(N'2025-01-10T00:00:00.000' AS DateTime), NULL, NULL, N'assets\images\monika.jpg')
INSERT [dbo].[employees] ([Id], [Name], [Email], [Password], [Role], [Status], [Phone], [Username], [JoinDate], [Otp], [OtpExpiry], [ProfileImage]) VALUES (2, N'Priya Verma', N'priya@gmail.com', N'123456', N'Employee', N'Active', N'9876543211', N'priya02', CAST(N'2025-01-12T00:00:00.000' AS DateTime), NULL, NULL, N'https://i.pravatar.cc/150?img=2')
INSERT [dbo].[employees] ([Id], [Name], [Email], [Password], [Role], [Status], [Phone], [Username], [JoinDate], [Otp], [OtpExpiry], [ProfileImage]) VALUES (3, N'Rohan Singh', N'rohan@gmail.com', N'123456', N'Employee', N'Inactive', N'9876543212', N'rohan03', CAST(N'2025-01-15T00:00:00.000' AS DateTime), NULL, NULL, N'https://i.pravatar.cc/150?img=3')
SET IDENTITY_INSERT [dbo].[employees] OFF
GO
SET IDENTITY_INSERT [dbo].[tasks] ON 

INSERT [dbo].[tasks] ([Id], [Title], [Description], [AssignedTo], [Status], [Date]) VALUES (195, N'Login UI', N'Design login page', 1, N'Completed', CAST(N'2026-01-05T00:00:00.000' AS DateTime))
INSERT [dbo].[tasks] ([Id], [Title], [Description], [AssignedTo], [Status], [Date]) VALUES (196, N'Navbar Fix', N'Fix navbar responsiveness', 2, N'Pending', CAST(N'2026-01-12T00:00:00.000' AS DateTime))
INSERT [dbo].[tasks] ([Id], [Title], [Description], [AssignedTo], [Status], [Date]) VALUES (197, N'Footer Setup', N'Create footer section', 3, N'Pending', CAST(N'2026-01-18T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tasks] OFF
GO
ALTER TABLE [dbo].[tasks]  WITH CHECK ADD FOREIGN KEY([AssignedTo])
REFERENCES [dbo].[employees] ([Id])
GO
