<div class="auth-page">
  <div class="login-container">
    <div class="login-card">

      <img src="assets/images/logo3.png" class="logo" />

      <!-- Name -->
      <div class="mb-3">
        <label>Name</label>
        <input type="text" class="form-control" [(ngModel)]="name">
      </div>

      <!-- Email -->
      <div class="mb-3">
        <label>Email</label>
        <input type="email" class="form-control" [(ngModel)]="email">
      </div>

      <!-- Password -->
      <div class="mb-3">
        <label>Password</label>
        <input type="password" class="form-control" [(ngModel)]="password">
      </div>

      <!-- Role -->
      <div class="mb-3">
        <label>Role</label>

        <select class="form-control" [(ngModel)]="role">
          <option value="">Select Role</option>
          <option value="Admin">Admin</option>
          <option value="Employee">Employee</option>
        </select>
      </div>

      <!-- Button -->
      <button type="button"
              (click)="register()"
              class="btn btn-primary w-100 login-btn">

        Sign Up

      </button>
      <p class="text-success">
        {{ successMessage }}
      </p>

      <p class="text-danger">
        {{ errorMessage }}
      </p>
    </div>
  </div>
</div>
