<div class="auth-page">

  <div class="login-container">

    <div class="login-card">

      <img src="assets/images/logo4.png"
           class="logo" />

      <p style="color:#3a6fa0;
                font-weight:600;">

        Forgot Password

      </p>

      <!-- STEP 1 -->

      <div *ngIf="currentStep === 1">

        <div class="mb-3">

          <label>Email</label>

          <input type="email"
                 class="form-control"
                 placeholder="Enter Email"
                 [(ngModel)]="email">

        </div>

        <button type="button"
                class="btn btn-primary w-100"
                (click)="sendOtp(); $event.preventDefault()">

          Send OTP

        </button>

      </div>

      <!-- STEP 2 -->

      <div *ngIf="currentStep === 2">

        <div class="mb-3">

          <label>OTP</label>

          <input type="text"
                 class="form-control"
                 placeholder="Enter OTP"
                 [(ngModel)]="otp">

        </div>

        <button type="button"
                class="btn btn-success w-100"
                (click)="verifyOtp(); $event.preventDefault()">

          Verify OTP

        </button>

      </div>

      <!-- STEP 3 -->

      <div *ngIf="currentStep === 3">

        <div class="mb-3">

          <label>New Password</label>

          <input type="password"
                 class="form-control"
                 placeholder="Enter New Password"
                 [(ngModel)]="newPassword">

        </div>

        <button type="button"
                class="btn btn-dark w-100"
                (click)="resetPassword(); $event.preventDefault()">

          Reset Password

        </button>

      </div>

      <!-- SUCCESS -->

      <div *ngIf="successMessage"
           class="alert alert-success mt-3">

        {{ successMessage }}

      </div>

      <!-- ERROR -->

      <div *ngIf="errorMessage"
           class="alert alert-danger mt-3">

        {{ errorMessage }}

      </div>

      <div class="divider"></div>

      <div class="small-text text-center">

        <p>

          Back to

          <span routerLink="/login"
                class="signup"
                style="cursor:pointer;">

            Login

          </span>

        </p>

      </div>

    </div>

  </div>

</div>
